.start{
  background-image:url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-up{
  background:url(triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-down{
  background:url(triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-right{
  background:url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-left{
  background:url(triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startTransparent{
  opacity: 0.5;
  background-image:url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visitedStartNodeBlue {
  background-image:url(triangletwo-right.svg);
  background-color: rgba(0, 190, 218, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodeBlue {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.strikethrough {
  color: rgb(185, 15, 15);
  text-decoration: line-through;
}

#algorithmDescriptor {
  text-align: center;
  color: #34495e;
  padding: 0px 25px 0px 25px;
}

#mainText > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 28px 0 0;
}

#actualStartButton {
  /*color: red;*/
  background-color: none;
}

#mainGrid{
  position: absolute;
  z-index: 1;
}


#nextButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#previousButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 12%;
  bottom: 2%;
}

#skipButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  left: 2%;
  bottom: 2%;
}

#finishButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#finishButton:hover,
#nextButton:hover,
#previousButton:hover,
#skipButton:hover {
  background-color: #48c9b0;
}
#board{
  border-collapse:collapse;
  /*position: center*/
}

#mainText div {
  /*border: 1px solid rgb(12, 53, 71);*/
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin: 0 0.42em;
}

#board {
  margin-left: 5px;
  margin-right: 5px;
}


#board td{
  /*border: 1px solid rgb(175, 216, 248);*/
  width: 25px;
  height: 25px;
}

#startButtonStart {
  padding-left: 20px;
  padding-right: 20px;
}

.visited{
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(25, 0, 66, 0.75);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.0);
    background-color: rgba(153, 0, 255, 0.75);
  }
}

.wall{
  background-color: rgb(12, 53, 71);
}

.unvisited{
  border: 1px solid rgb(175, 216, 248);
  background-color:white
}

.borderlessWeight {
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.unvisited.weight{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.unvisited.mud{
  background:brown
}

.current{
  border: 1px solid rgb(175, 216, 248);
  background-color: rgb(255, 254, 106)
}

.target{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(circle.svg);
  /*background-color: rgb(255, 254, 106);*/
  /*background-color: rgba(232, 147, 12, 0.75);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/

}

.shortest-path.weight{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-unweighted{
  /*border: 1px solid rgb(175, 216, 248);*/
  background:url(spaceshiptwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: .25s;
          transition: .25s;
}
a:hover,
a:focus {
  color: #1abc9c;
  text-decoration: none;
}
a:focus {
  outline: none;
}
.img-rounded {
  border-radius: 6px;
}
p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}
.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
}
.btn-inverse {
  color: #ffffff;
  background-color: #34495e;
}
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #415b76;
  border-color: #415b76;
}
.btn-inverse .badge {
  color: #34495e;
  background-color: #ffffff;
}
.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-nav > li > .dropdown-menu {
  min-width: 100%;
  margin-top: 9px;
  border-radius: 4px;
}
.navbar-inverse {
  background-color: #404040;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #1abc9c;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:before {
  color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover:before,
.navbar-inverse .navbar-toggle:focus:before {
  color: #1abc9c;
}
.navbar-inverse .navbar-collapse {
  border-color: #2f4154;
  border-width: 2px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li.disabledA > a:hover {
  color: rgb(185, 15, 15);
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1abc9c;
  color: #ffffff;
  border-left-color: transparent;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
  background-color: #404040;
  padding: 3px 4px;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
  color: #e1e4e7;
  border-radius: 4px;
  padding: 6px 9px;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #1abc9c;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > li.disabledA > a:hover {
  color: #ffffff;
  background-color: rgb(185, 15, 15);
}
.navbar-inverse .navbar-btn {
  color: #ffffff;
  background-color: #1abc9c;
}
 /*The container <div> - needed to position the dropdown content */
#heuristics {
    position: relative;
    display: inline-block;
}