.start{
  background-image:url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-up{
  background:url(triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-down{
  background:url(triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-right{
  background:url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shortest-path-left{
  background:url(triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startTransparent{
  opacity: 0.5;
  background-image:url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visitedStartNodeBlue {
  background-image:url(triangletwo-right.svg);
  background-color: rgba(0, 190, 218, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #555555;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodeBlue {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#algorithmDescriptor {
  text-align: center;
  color: #FF6F00;
  filter: saturate(0.5);
}

#mainText > ul li {
  position: absolute;
  list-style: none;
}

#actualStartButton {
  /*color: red;*/
  background-color: none;
}

#mainGrid{
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}
#board{
  border-collapse:collapse;
  /*position: center*/
}

#mainText div {
  position: absolute; 
}

#board {
  margin-left: 5px;
  margin-right: 5px;
}


#board td{
  width: 26px;
  height: 25px;
}
#startButtonStart {
  padding-left: 20px;
  padding-right: 20px;
}

.visited{
  border: 1px solid #555555;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: #FF6F00;
    filter: saturate(0.7);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.0);
    background-color: #FFB300;
    filter: saturate(0.4);
  }
}

.wall{
  background-color: #232425;
}

.unvisited{
  border: 1px solid #555555;
  background-color:#c4c4c4;
}

.borderlessWeight {
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.unvisited.weight{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.current{
  border: 1px solid ;
  background-color: yellow;
  filter: saturate(0.5);

}
.target{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(circle.svg);
  /*background-color: rgb(255, 254, 106);*/
  /*background-color: rgba(232, 147, 12, 0.75);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c4c4c4;
}
.shortest-path{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/

}

.shortest-path.weight{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-unweighted{
  /*border: 1px solid rgb(175, 216, 248);*/
  background:url(spaceshiptwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  background-color: #c4c4c4;
}
a {
  color: #E4E7EB;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: .25s;
          transition: .25s;
}
a.navbar-brand{
  letter-spacing: 4px;
  font-size: 23px;
  font-weight: 400;
  color: #FF6F00;
  filter: saturate(0.5);
  padding-right: 175px;
}
p {
  font-size: 18px;
  line-height: 1.72222;
}
.navbar-nav > li > .dropdown-menu {
  min-width: 100%;
  margin-top: 9px;
  border-radius: 4px;
}
.navbar-inverse{
  background-color: #232425;
}
.navbar{
  -webkit-box-shadow: 0px -16px 26px 28px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px -16px 26px 28px rgba(0,0,0,0.54);
  box-shadow: 0px -16px 26px 28px rgba(0,0,0,0.54);
  
}

.navbar-inverse .navbar-nav > li > a {
  color: #f3f3f3;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FF6F00;
  filter: saturate(0.5);
  background-color: transparent;
}
.btn-outline-warning:hover{
  background-color: #FF6F00;
  filter: saturate(0.66);
  border-color: #FF6F00;
}
.btn-outline-warning{
  border-color: #FF6F00;
  color: #f3f3f3;
  filter: saturate(0.5);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-lg{
  width: 100px;
}
.btn-close{
  background-color: #FF6F00;
}
.btn-tool{
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 24px;
  font-size: 15;
  width: 175px;
  height: 60px;
  text-align: center;
  justify-content: center;
}
.offcanvas{
  width: 450px;
}
li a:hover{
  color: #FF6F00; 
  filter: saturate(0.5);
}
#offcanvasRightLabel{
  letter-spacing: 4px;
  font-size: 23px;
  font-weight: 400;
  color: #FF6F00;
  filter: saturate(0.5);
}
.dropdown-menu{
  background-color: #232425;
  color: #E4E7EB;
}
 /*The container <div> - needed to position the dropdown content */
#heuristics {
    position: relative;
    display: inline-block;
}
.offcanvas-body, .offcanvas-header{
  background-color: #232425;
  color: whitesmoke;
}
.offcanvas-body a {
  color: whitesmoke;
}
